[Unit]
Description=jslisten daemon
After=network.target auditd.service

[Service]
Type=idle
ExecStart=/bin/sh -ec "exec /opt/bin/jslisten"
ExecReload=/bin/kill -9 $MAINPID
ExecStop=/bin/kill -9 $MAINPID
KillMode=process
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
